html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #eee;

}

.site-header{

}

#main-grid{
  height: 100%;
      /* Background styles */
    /*background-image: url(../img/man1_70.jpg);*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* flex site for bottom sticky footer */

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}


#footer-logo {
	height: 30px;
}

#header-button {
	margin:5px;
}

#fakebot {
	/*height: 600px; */
}

.tel{
  text-align: center;
}


#title-box{
  min-height: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

#fb-grid{
  max-width: 400px;
  text-align: center;
}

.pointer{
  font-size: 1.5rem;
  min-height: 20px;
  max-width: 400px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

#adblock{
  color: #aaa;
  padding: 10px;
}

