html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #eee;
}

#main-grid{
	margin: 50px;
}

/* flex site for bottom sticky footer */

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

#footer-logo {
	height: 30px;
}

#header-button {
	margin:5px;
}

#fakebot {
	height: 600px;
}

